<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>wakatime-helper</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="icon" href="images/favicon.png" />
    <style>
      input {
        width: 100%;
      }
      .daterangepicker td,
      .daterangepicker th {
        padding: 0;
      }
      .daterangepicker button {
        height: auto;
        line-height: unset;
        margin-bottom: 0;
      }
      .results {
        display: none;
      }
    </style>
  </head>

  <body>
    <section class="container">
      <h4>query wakatime db</h4>
      <div class="row"><input type="text" name="daterange" /></div>
      <div class="row"><input class="button-primary" type="submit" value="submit input" /></div>
    </section>
    <section class="container results"></section>
    <script>
      const COLS = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve'];
      const getRandomColor = () => {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      };
      const createVisuals = data => {
        console.log(data);
        const { parsed, range, response } = data;
        const { total_string } = parsed.total;
        const arraySets = [['projects', 'languages'], ['categories', 'editors', 'operating_systems']];
        const resElement = $('.results');
        resElement.empty();
        resElement.append(`<h4>results</h4><h5>${range.start} to ${range.end}</br>total time spent</br>${total_string}</h5>`);
        arraySets.forEach((set, i) => {
          const setClass = `set_${i}`;
          resElement.append(`<div class="${setClass} row"></div>`);
          set.forEach(key => {
            const values = parsed[key];
            if (!values) return;
            const id = `${key}-chart`;
            $(`.${setClass}`).append(
              `
              <div class="${COLS[12 / set.length]} columns">
                <canvas id="${id}" width="400" height="400"></canvas>
              <div>
              `
            );
            const backgroundColor = values.map(getRandomColor);
            const data = values.map(({ total_seconds }) => total_seconds);
            const labels = values.map(({ name, total_string }) => `${name} | ${total_string}`);
            const beforeLabels = values.map(({ name }) => name);
            const customLabels = values.map(({ total_string }) => total_string);
            const total = values.reduce((red, { total_seconds }) => red + total_seconds, 0);
            const myDoughnutChart = new Chart(id, {
              type: 'doughnut',
              data: {
                datasets: [{ data, backgroundColor }],
                labels: beforeLabels,
              },
              options: {
                title: {
                  display: true,
                  text: key,
                },
                legend: {
                  position: 'top',
                  labels: {
                    boxWidth: 20,
                  },
                },
                tooltips: {
                  callbacks: {
                    beforeLabel: ({ index }) => beforeLabels[index],
                    label: ({ index }) => customLabels[index],
                    afterLabel: ({ index }) => `(${Math.round((data[index] / total) * 100)}%)`,
                  },
                },
              },
            });
          });
        });
        resElement.show();
      };
      $('document').ready(() => {
        const today = moment().format('YYYY-MM-DD');
        let startDate = today;
        let endDate = today;
        $('input[name="daterange"]').daterangepicker({}, (start, end, label) => {
          startDate = start.format('YYYY-MM-DD');
          endDate = end.format('YYYY-MM-DD');
          console.log('A new date selection was made: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
        $('input[type="submit"]').click(() => {
          if (!startDate || !endDate) return alert('Choose end and startdate first');
          console.log(`Requesting data between "${startDate}" to "${endDate}"`);

          if (Boolean('{{IS_OFFLINE}}')) {
            const mockData = JSON.parse('{{MOCK_DATA}}');
            console.log('runs offline');
            createVisuals(mockData);
            return;
          }

          $.ajax({
            type: 'GET',
            dataType: 'json',
            headers: { 'x-api-key': '{{X_APIKEY}}' },
            url: `{{DOMAIN}}/query/${startDate}/${endDate}`,
            success: createVisuals,
            error: (err, _, thrownError) => {
              console.error(err);
              alert(err.responseText || thrownError || 'REQUEST ERROR');
            },
          });
        });
      });
    </script>
  </body>
</html>
